bin
.project
.classpath
*.app
*.jar
classes
build
*.pyc
.DS_Store
*.zip
tailor.app
/tailor_javasrc.zip
/tailor_pysrc.zip
tailor.jar
/tailor_javasrc.zip
/tailor_pysrc.zip
/tailor.jar
/target/
.idea
*.iml
