h1 {
    color : blue;
    vertical-align : baseline;
}

div.quoted_code {
    border : thin solid black;
    background-color : #dfdfdf;
    font-family : monospace;
    padding : 0.5em;
}

span.keyword {
    color: purple
}

span.string {
    color: red
}

span.inline_code {
    font-family : monospace;
}

span.path {
    font-family : monospace;
    color : red;
}
